<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7100FEBB1D9F33C100E3BC5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7100FECF1D9F33C100E3BC5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7100FEDA1D9F33C200E3BC5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
